/**********************
*** Global settings ***
**********************/
body {
    /*background-color: white; */
    font-size: 14px;
    font-family: Georgia, Serif;
    color: black;
    padding-left: 50px;
    padding-right: 20%;
}
body a {
    color: #24355d;
    font-weight: bold;
    text-decoration: underline;
}
body a:visited {
    color: #808080;
}
body a:hover {
    color: #24355d;
    background-color: #E0E0E0;
}
body a:active {
    color: #606060;
    background-color: white;
}

body a.registerlink:link, a.registerlink:visited {
   font-family: Georgia, serif;
   background-color: #FFD700;
   color: #24355d;
   border: 2px solid #24355d;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border-radius: 5px
}

body a.registerlink:hover, a.registerlink:active {
   background-color: #24355d;
   color: white;
}

li{
  margin: 10px 0;
}

/********************
*** Main settings ***
********************/
/* The main body of the page, i.e. excluding top header, nav panel, and bottom footer */
main {
    /*margin-left: */
    width: 100%;
	min-width: 600px;
	/*display: block;*/
}

/**********************************
*** Heading and header settings ***
**********************************/
h1,h2,h3,h4 {
    color: #24355d;
    font-weight: bold;
    width: 100%;
    min-width: 300px;
}
body>header h1>a,
body>header h1>a:visited,
body>header h1>a:hover,
body>header h1>a:active {
    font-size: xx-large;
    color: #24355d;
    display: block;
    font-family: "Palatino Linotype","Book Antiqua", Palatino,serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: transparent;
}
hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 500px;
    height: 1px;
    color: #808080; /* I think this does nothing on modern browsers */
    background-color: #808080;
}

/*************************
*** Nav panel settings ***
*************************/

/* NAVIGATION PANEL */
.nav {
    font-family: Georgia, serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    font-size: 14px;
    width: 100%;
    min-width: 400px;
}
.nav ul {
    list-style: none;
    float: left;
}
.nav li {
    float: left
}
.nav h3 {
    font-family: Georgia, serif;
}
.nav a {
    background-clip: border-box;
    text-decoration: none;
    float: left;
    text-align: center;
    /*vertical-align: center;*/
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.nav a:link, .nav a:visited {
    color: #24355d;
    background-color: transparent;
}
.nav a:hover, .nav a:active {
	text-decoration: underline;
    color: white;
    background-color: #24355d;
}
.nav .active a {
    color: white;
    background-color: #24355d;
}
/*.nav a.selected {
    background-color: #24355d;
    color: white;
}*/
/*nav a.selected:link, nav a.selected:visited, nav a.selected:hover, nav a.selected:active {*/



/*********************
*** Other settings ***
*********************/

/* FOOTER */
footer {
	clear: both;
	width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* pre for pre-formatted text, code for code blocks. */
/* See http://stackoverflow.com/questions/4611591/code-vs-pre-vs-samp-for-inline-and-block-code-snippets */
/*pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}
code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}*/
/* Tables */
/*table {
    border: none;
}*/
/*tr {
    border-bottom: 1px solid #CCC;
}*/
/*th {
    text-align: center;
}*/
/*td {
    padding-left: 20px;
}*/
